@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





<div class="text-center">
    <h1 class="display-4">Investec Client App</h1>
    <div>
        <a href="https://localhost:7047/clientmaster">Back to List</a>
    </div>
</div>

